doctype html
html(lang='en')
    head
        title PS4 | Umang Desai
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(src='http://tracking.musixmatch.com/t1.0/AMa6hJCIEzn1v8RuOP')

    body
        h1 Musixmatch app to aid with my Quarantine Loneliness
        p Finding the lyrics to one of my favourite Ed Sheeran songs.
        h3 Here is a line:
        P #{songLine}


